<header>
    <div class="container-fluid d-grid gap-3 align-items-center text-white">
  
      <div class="d-flex align-items-center">
        <div class="w-100 d-flex align-items-center">
           <h5 class="mb-0"><a routerLink="/home">Project Management System </a></h5>
        </div>
       
  
        <div class="header-actions">
         
        </div>
      
        
        <div class="d-lg-flex h-100 mx-lg-2 text-white">
          <div class="btn-group user-info-block" dropdown>
            <a id="button-user" dropdownToggle type="button" class="dropdown-toggle" aria-controls="dropdown-user">
              <span class="user-title">Dominic Keller</span>
              <img src="assets/images/user.png" width="36" height="36" class="rounded-circle ms-2">
              <span class="caret"></span>
            </a>
            <ul id="dropdown-user" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
              aria-labelledby="button-user">
              <li role="menuitem"><a class="dropdown-item">Change Settings</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" (click)="logout()">Sign out</a></li>
            </ul>
          </div>
        </div>
  
      </div>
    </div>
  </header>