<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <div class="workItemWrapper">
      <a (click)="navToProjects()" class=" me-2"><i class="fa-solid fa-arrow-left back-icon"></i></a>
      <h4 class="page-title flex-grow-1"> {{id}}</h4>
      <div>
        <p-tag class="me-3" value="+ Group Registartion" [rounded]="true"(click)="changePages('Groups',1)" [ngClass]="{'tag-active': tab === 1}"></p-tag>
        <p-tag class="me-3" value="+ ProjectShedule" [rounded]="true" (click)="changePages('ProjectSchedule',2)" [ngClass]="{'tag-active': tab === 2}"></p-tag>
    </div>
    </div>
</div>

      <div *ngIf="usergroupFlag">  
    <app-groups></app-groups>
    </div>
    <div *ngIf="userFlag">  
        <app-project-schedule></app-project-schedule>
        </div>