
<div class="px-4 py-4">
    <div class="row">
      <div class="col">
        <form [formGroup]="projectScheduledForm!" (ngSubmit)="submitProjectSchdule()">
        <div class="p-3 bg-white shadow-dark rounded-2">
      
  
<div class="form-group row"> 
    <label for="projectScheduleName" class="col-md-3 col-sm-12 col-form-label">Project Schedule Name</label>
    <div class="col-sm-10 col-md-4 ">
        <input type="text" class="form-control" id="projectScheduleName"
         formControlName="projectScheduleName" placeholder="" />
    </div>

</div>
<div class="form-group row"> 
<label for="projectScheduleCode" class="col-md-3 col-sm-12 col-form-label">Project Schedule Code</label>
<div class="col-sm-10 col-md-4 ">
    <input type="text" class="form-control" id="projectScheduleCode"
     formControlName="projectScheduleCode" placeholder="" />
</div>

</div>

<div class="form-group row"> 
<label for="projectDate" class="col-md-3 col-sm-12 col-form-label">Project Date</label>
<div class="col-sm-10 col-md-4 ">
    <input type="date" class="form-control" id="projectDate"
     formControlName="projectDate" placeholder="" />
</div>

</div>
<div class="form-group row"> 
<label for="startDate" class="col-md-3 col-sm-12 col-form-label">Kick of Meeting start Date</label>
<div class="col-sm-10 col-md-4 ">
    <input type="date" class="form-control" id="startDate"
     formControlName="startDate" placeholder="" />
</div>

</div>

<div class="form-group row"> 
<label for="endDate" class="col-md-3 col-sm-12 col-form-label">Kick of Meeting End Date</label>
<div class="col-sm-10 col-md-4 ">
    <input type="date" class="form-control" id="endDate"
     formControlName="endDate" placeholder="" />
</div>
</div>
<div class="form-group row">
<label for="duration" class="col-sm-12 col-md-3 col-form-label">Durations </label>
<div class="col-sm-10 col-md-4">
  <div class="input-group">
    <input type="number" class="form-control" id="duration" formControlName="duration">
    <div class="input-group-text">Days</div>
  </div>
</div>
</div>
        </div>
      
        </form>
      </div>
    </div>
</div>

<div class="px-4 py-4">
    <div class="row">
        
  
    <div class="p-3 bg-white shadow-dark rounded-2">
     
      <h5 class="page-card-title border-bottom">Base Line Plan</h5>
      <!-- <div class="form-group row m-3 p-3">
        <label for="Task List" class="col-sm-2 col-form-label">Groups Registered</label>
        <div class="col-sm-10">
            
            <p-multiSelect [options]="taskSource"  placeholder="Analyticals" optionLabel="label" (onClick)="selectTask(elm.value)" #elm></p-multiSelect>
        </div>
    </div> -->
   
        <div class="row">
            <div class="col mt-2 table-landing ">
             
                <table class="table table-bordered caption-top">
                  <caption>Analyticals 
                    <button type="button" class="btn  btn-objective btn-primary"(click)="addRows()">+Add Objective</button>
                  </caption>
                    <thead>
                      <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Objective</th>
                        <th scope="col">Planned Start Date</th>
                        <th scope="col">Planned End Date</th>
                        <th scope="col">Duration (Days)</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                          <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                            <td scope="row">{{i+1}}</td>
                            <td><input class="form-control form-control-sm"
                              name="{{dynamic.objective}}" [(ngModel)]="dynamic.objective"
                               type="text"aria-label=".form-control-sm example"></td>
                            <td><input class="form-control form-control-sm"
                              name="{{dynamic.plannedStartDate}}" [(ngModel)]="dynamic.plannedStartDate"
                               type="date"aria-label=".form-control-sm example"></td>
                            <td><input class="form-control form-control-sm" 
                              name="{{dynamic.plannedEndDate}}" [(ngModel)]="dynamic.plannedEndDate"
                              type="date"aria-label=".form-control-sm example"></td>
                              <td><input class="form-control form-control-sm" 
                                name="{{dynamic.durationDays}}" [(ngModel)]="dynamic.durationDays"
                                type="text"aria-label=".form-control-sm example"></td>
                                <td><span name="dynamic.delete" [(ngModel)]="dynamic.delete"(click)="deleteRows(i)">X</span></td>
                          </tr>
                    </tbody>
                  </table>
               
                </div>
                
                </div>
                <div class="row mt-4" >
                  <div class="col mt-2 table-landing ">
                      <table class="table table-bordered caption-top">
                        <caption>Research and Development
                        <button type="button" class="btn  btn-objective btn-primary"(click)="addRows()">+Add Objective</button>
                      </caption>
                        <thead>
                            <tr>
                              <th scope="col">S.No</th>
                              <th scope="col">Objective</th>
                              <th scope="col">Planned Start Date</th>
                              <th scope="col">Planned End Date</th>
                              <th scope="col">Duration (Days)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                              <td scope="row">{{i+1}}</td>
                              <td><input class="form-control form-control-sm"
                                name="{{dynamic.objective}}" [(ngModel)]="dynamic.objective"
                                 type="text"aria-label=".form-control-sm example"></td>
                              <td><input class="form-control form-control-sm"
                                name="{{dynamic.plannedStartDate}}" [(ngModel)]="dynamic.plannedStartDate"
                                 type="date"aria-label=".form-control-sm example"></td>
                              <td><input class="form-control form-control-sm" 
                                name="{{dynamic.plannedEndDate}}" [(ngModel)]="dynamic.plannedEndDate"
                                type="date"aria-label=".form-control-sm example"></td>
                                <td><input class="form-control form-control-sm" 
                                  name="{{dynamic.durationDays}}" [(ngModel)]="dynamic.durationDays"
                                  type="text"aria-label=".form-control-sm example"></td>
                                  <td><span name="dynamic.delete" [(ngModel)]="dynamic.delete"(click)="deleteRows(i)">X</span></td>
                            </tr>
                           
                            <tr>
                             
                          </tbody>
                        </table>
                      </div>
                      
                      </div>
    </div>
</div>
</div>
<div class="d-flex mt-3 justify-content-end">
  <button type="button" class="btn btn-primary rounded-pill" (click)="submitProjectSchdule()"
    >Submit</button>
</div>