<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <a class="me-2"> <i class="fa-solid fa-arrow-left back-icon m-l-3" (click)="backToRoles()"></i></a>
    <h4 class="page-title flex-grow-1 labelStyles">
        New Role
    </h4>
</div>
<div class="px-4 py-4">
    <div class="row">
        <div class="col">

            <form [formGroup]="RoleForm!" (ngSubmit)="saveRoleClick()">
                <div class="p-3 bg-white shadow-dark rounded-2">
                    <h5 class="page-card-title border-bottom">Basic Info</h5>
                    <div class="px-4 pt-4 pb-2">
                        <div class="form-group row">
                            <label for="name" class="col-sm-12 col-md-3 col-form-label">Role Name</label>
                            <div class="col-sm-10 col-md-4">
                                <input class="form-control" rows="4" id="name" placeholder="Role Name" />
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            <label for="description" class="col-sm-12 col-md-3 col-form-label">Description</label>
                            <div class="col-sm-10 col-md-4">
                                <textarea class="form-control" rows="4" formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                

            </form>
            <p-toast></p-toast>

            <div class="d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-default rounded-pill me-3" (click)="backToRoles()">Cancel</button>

                <button type="button" class="btn btn-primary rounded-pill me-2"
                    (click)="saveRoleClick()">Submit</button>
            </div>

        </div>
    </div>
</div>
