$primary-color: #0071bc;
$secondary-color: #87c9f3;
$heading-color: #131a64;
$label-color: #A098AE;
$link-color: $primary-color;
$background-color: #eef1f4;
$background-contrast: #f6f6f6;

$text-color-primary: #363B64;
$text-color-secondary: #6a6e72; //  #A098AE;
$text-color-tertiary: #6D6D8C;
$white: #ffffff;
$green:#0097b38c;
$left-nav-bg: #65c2dc;

$font-family: 'Roboto', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
}